
<%= form_with url: "/api/v1/users/#{current_user.id}/posts/#{@post_id}/comment", method: :post do |f| %>
  <div class="section center">
    <%= f.label :text, 'Comment', class: "label" %>
    <%= f.text_area :text, size: "50x5"%>
    <%= f.submit "comment", class: "back-link" %>
  </div>
<% end %>