<h2 class="recent-posts">Most recents post</h2>

<div class="posts-container">
  <% @all_posts.each do |post|%>
      <%= render post %>
  <% end %>
</div>

<div class="btn">
<button class="see-all center">Pagination </button>
</div>