.profile {
  width: 4.5rem;
  height: 4.5rem;
  border: 2px solid gray;
}

.img-profile {
  width: 4rem;
}

.user-name,
.post-text {
  font-size: 1.5rem;
  font-weight: 600;
}

.container {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.single-post {
  padding-bottom: 0;
  display: block;
  margin-bottom: 1.2rem;
}

.comments {
  margin-bottom: 1rem;
}

.comment-like {
  display: flex;
  gap: 1rem;
}
